html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    }

header{
    background-color: rgb(80, 79, 79);
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: rgb(248, 242, 233);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: unset;
}

legend {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-color: 2px solid black;
    padding: 0 5px;
}

.flex-container {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 10px;
    flex: 1;
}

.daily-journal-form {
    width: 500px;
   
}

.flex-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding:10px 20px;
}

.flex-item > label,
    input,
    select,
    button {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input, select {
    height: 30px;
}

button {
    background-color:  rgb(4, 124, 176);
    border: 1px solid  rgb(2, 79, 112);
    border-radius: 10px;
    color: antiquewhite;
    padding: 10px 30px;
    font-size:15px; 
  }

.div-submit {
    align-content: center;
    
}

footer {
    background-color: rgb(80, 79, 79);
    color: rgb(248, 242, 233);
    height: 70px;
    padding: 10px 20px;
    margin-top:20px; 
    text-align: center;
}   



