
body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    margin: 0;
}

header{
    background-color: rgb(1, 53, 82);
    height: 100px;
    width: 100%;
    padding:10px;
    margin-top: 0;
    position: fixed;
    top: 0;
   }

h1 {
    color: rgb(248, 242, 233);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.modalBtn {
    background-color:  rgb(1, 53, 82);
    color: antiquewhite;
    float: right;
    padding: 10px 12px;
    font-size:20px; 
  }
  .modalBtn:hover {
    background-color: green; 
    border: 2px solid #4CAF50;
  }

  
  .journalList {
      width: 80%;
      margin: auto;
      line-height:5px;
      font-size: 20px;
      margin-top: 150px;
      margin-bottom: 100px;
  }
  .modal {
    display: none;  /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 0;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0px 5px 8px 0 rgba(0,0,0,0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height:50px;
   
  }
 

.closeBtn,  .closeEditBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus,  .closeEditBtn:hover,  .closeEditBtn:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    background-color: rgb(1, 53, 82);
    color: rgb(248, 242, 233);
    height: 70px;
    padding: 10px 20px;
    margin-top:20px; 
    text-align: center;
}   

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.flex-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding:10px 20px;
}

.flex-item > label,
    input,
    select,
    button {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input, select {
    height: 30px;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 1;
}

.header-flex-item-h1
{
  margin-left: 90px;
}

.header-flex-item-btn
{
  margin-right: 100px;
 margin-top: 30px;
}

